<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{title}} &raquo; Admin &raquo; Incarcerated Swindon, Live Escape Room Games</title>

    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content="{{meta.description}}" /> 

    {{> _favicon}} 
    {{> _jquery}} 
    {{> _stylesheets}}
</head>


<body>
    {{> _adminpageheader}}

    <div class="admin-postnav"></div>

    <div class="container-fluid admin {{mainClass}}">
        
        {{> (lookup . 'template')}}

    </div>

    <div class="admin-foot d-flex justify-content-end align-items-end">
        {{#unless preAuth}}
            <span id="UserId" data-user-id="{{user._id}}" class="p-2 text-uppercase small logged-in-as">Logged in as: <a href="#">{{user.username}}</a></span> 
        {{/unless}}
    </div>

    {{> _scripts}}
</body>

</html>
